<div class="wrapper-masthead">
    <header>
        <div class="bio">
            <div class="row">
                <a href="{{ site.baseurl }}/" class="three columns site-avatar"><img src="{{ site.avatar }}" /></a>
                <div class=" nine columns site-info">
                    <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
                    <p class="site-description">{{ site.description }}</p>
                </div>
            </div>
        </div>
    </header>
</div>